<body>
<%= image_tag @recipe.avatar %>
<p>
  <strong><%= @recipe.title %></strong>
</p>
<p>
  <strong> <%= @recipe.ingredient %></strong>
</p>
<p>
  <strong> <%= @recipe.instruction %></strong>
</p>

</body>